* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, sans-serif;

}

body {
    font: 14px/1.4 Georgia, Serif;
}

#page-wrap {
    margin: 50px;
}

p {
    margin: 20px 0;
}

/* Styles for the pie chart page */
#heading {
  display: block;
  width: 50%;
  float: left;
  text-align: center;
}

#heading p {
  margin-bottom: 20px;
  margin-left: 40px;
}

#heading h2 {
  margin-top: 40px;
  margin-left: 40px;

}

#legend {
  display: block;
  width: 50%;
  text-align: center;
  float: left;
}

.chart {
  display: block;
  margin: auto;
  width: 50%;
  float: left;
  padding-top: 30px;
}

.chart svg {
  text-align: center;
  margin: auto;
  display: block;
}

.title {
  margin-bottom: 30px;
  font: 20px;
  font-weight: bold;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #333;
	color: white;
	font-weight: bold;
	cursor: s-resize;
	background-repeat: no-repeat;
       background-position: 3% center;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: left;
}
	
th.des:after {
    content: "\21E9";
}
    
th.aes:after {
    content: "\21E7";
}